ul.accordion {
    list-style: none;
    float: left;
}


.accordion input[type="checkbox"] {
    display: none;
}

.accordion input[type="checkbox"] + label {
    transition: all 500ms 0s;
}

.accordion input[type="checkbox"] + label:hover {
    background-color: aqua;
}

.accordion input[type="checkbox"] + label::after {
    content: "→";
}

.accordion input[type="checkbox"]:checked + label::after {
    content: "↓";
}

.accordion article {
    visibility: hidden;
    height: 0px;
    width:300px;
    border:none;
    transition: height 500ms 0s;
}

.accordion input[type="checkbox"]:checked ~ article {
    visibility: visible;
    height: 100px;
    border: medium solid black;
    transition: height 500ms 0s;
    overflow: auto;
}
